@use "../generales/variables" as*;
@use "../generales/tecnologias" as*;

.h2Habilidades {
    text-align: center;
    padding-bottom: 2rem;
    color: $color-rosa-1;
    font-size: 1.5rem;
}

.sectionHabilidades { 
    padding-bottom: 4rem; 
    
    .articleHabilidades {
        @include flex-center;
        gap: 30px;
        padding-bottom: 2rem;

        figure img {
            @include icono-tecnologia;
        }
    }
}